.container {
  display: grid;

  grid-template-columns: 50% 50%;
  background-color: #fff;
  color: #444;
  height: 100vh;
  width: 100vw;
}

.box {
  padding: 20px;
}

.one {
  background-color: #297373;
  color:#fff;
  grid-column: 50%;
  grid-row: 1;
}

.two {
  background-color: #ff8552;
  grid-column: 50%;
  grid-row: 1 / 3;
}

.three {
  background-color: #39393a;
  color:#fff;
  grid-column: 1;
  grid-row: 2;
}
